<a href="https://colab.research.google.com/github/Fin-N-1049/python-lab-raptor-programs-/blob/main/raptor_problems.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#converting seconds into hours,minutes and seconds(1)
s=int(input("enter time in seconds"))
hours=int(s/3600)
rh=s%3600
minutes=int(rh/60)
rm=int(rh%60)
print("hours=",hours)
print("minutes=",minutes)
print("seconds=",rm)

enter time in seconds3700
hours= 1
minutes= 1
seconds= 40

In [ ]:
#arithmetic operations(2)
f=int(input("enter the first number"))
g=int(input("enter the second number"))
sum=f+g
difference=f-g
product=f*g
quotient=f/g
print("sum is",sum)
print("difference is",difference)
print("product is",product)
print("quotient is ",quotient)

enter the first number60
enter the second number99
sum is 159
difference is -39
product is 5940
quotient is  0.6060606060606061

In [ ]:
#converting days to years ,months and days(3)
d=int(input("enter the no of days"))
years=int(d/360)
ry=d%360
month=int(ry/30)
days=int(ry%30)
print("years are",years)
print("months are",month)
print("days are",days)

enter the no of days400
years are 1
months are 1
days are 10

In [ ]:
#greatest among 3 numbers(4)
a=int(input("enter the first number"))
b=int(input("enter the second number"))
c=int (input("enter the third number"))
if a<b<c or b<a<c:
  print(c,"is the greatest")
elif a<c<b or c<a<b:
  print(b,"is the greatest")
else :
  print(a,"is the greatest")

enter the first number11
enter the second number6
enter the third number8
11 is the greatest

In [ ]:
#whether a number is 2 digit or not(5)
a=int(input("enter the no. to be checked"))
if 10<=a<=99:
  print(a,"is a 2 digit number")
else:
  print(a,"is not a two digit number")

enter the no. to be checked99
99 is a 2 digit number

In [ ]:
#whether a number is the multiple of another(6)
a=int(input("enter the first number"))
b=int(input("enter the second number"))
if a%b==0:
  print("a is the multiple of b")
else:    
  print("a is not the multiple of b")
if b%a==0:
  print("b is the multiple of a")
else:
  print("b is not the multiple of a")

enter the first number40
enter the second number4
a is the multiple of b
b is not the multiple of a

In [ ]:
#find the smallest digit in a two digit number(7)
a=int(input("enter the number"))
q=int(a/10)
r=int(a%10)
if q<r:
  print(q,"is the smallest")
elif q==r:
  print("both numbers are equal")
else:
  print(r,"is the smallest")

enter the number44
both numbers are equal

In [ ]:
#distance between two points in a number line
a=int(input("enter the first number"))
b=int(input("enter the second number"))
if a<b:
  print(b-a,"is the distance btw the two points")
else:
  print(a-b,"is the distance btw the two points")

enter the first number-5
enter the second number90
95 is the distance btw the two points

In [ ]:
#find the nature of quadratic equation
a=int(input("enter the first number"))
b=int(input("enter the second number"))
c=int(input("enter the third number"))
d=(b*b)-4*a*c
if d>0:
  print("the quadratic equation has 2 real solutions")
elif d==0:
  print("the quadratic equation has 1 real solution")
else :
  print("the quadratic equation has 2 imaginary solution")

enter the first number3
enter the second number2
enter the third number8
the quadratic equation has 2 imaginary solution

In [ ]:
#arithmetic sequence upto n terms(10)
n=int(input("enter the n th term"))
a=int(input("enter the first term"))
d=int(input("enter the common difference"))
print("arithmetic sequence upto",n,"terms are")
i=0
while (i<n):
  term=a+(i*d)
  print(term)
  i=i+1

enter the n th term10
enter the first term2
enter the common difference4
arithmetic sequence upto 10 terms are
2
6
10
14
18
22
26
30
34
38

In [ ]:
# check whether a number is armstrong number
a=int(input("enter the number to be checked"))
i=0
q=a
while q>0:
  q=int(q/10)
  i=i+1
q=a
b=0
while q>0: 
  r=int(q%10)
  q=int(q/10)
  b=b+r**i
if a==b:
  print(a,"is an armstrong number")
else :
  print(a,"is not an armstrong number")

enter the number to be checked9474
9474 is an armstrong number

In [ ]:
#check whether a number is an automorphic number
a=int(input("enter the number to be checked"))
b=int(a*a)
q=b
n=0 
i=0
while q>0:
  r=(q%10)
  q=int(q/10)
  n=n+r*(10**i)
  if n==a:
    print(a,"is an automorphic number")
    break
  else:
    i=i+1
if q==0:
  print(a,"is not an automorphic number")

enter the number to be checked890625
5
25
625
625
90625
890625
890625 is an automorphic number

In [ ]:
a=int(input("enter the number"))
b=a
i=0
t=0
j=0
sum=0
while a>0
  r=a%10
  t=t+1
  a=(a-r)/10
  i=i+1
sqr=b*b
while j<t:
  r=sqr%10
  sum=sum+r*(10**j)
  print(sum)
  sqr=(sqr-r)/10
  j=j+1
 # print(sum)       
if b==sum:
  print("auto")
else:
  print("not")

In [ ]:
#binary to decimal
a=int(input("enter a binary number"))
q=a
i=0
n=0
while q>0:
  r=int(q%10)
  q=int(q/10)
  n=n+r*(2**i)
  i=i+1
print("decimal equalent to ",a,"is",n)

enter a binary number10000
decimal equalent to  10000 is 16

In [ ]:
#factorial to a given number
def fact (x):
  i=1
  n=1
  while i<x+1:
    n=n*i
    i=i+1
  return(n)
a=int(input("enter the n th term"))
fact(a)
print("factorial of",a, "is",fact(a))

enter the n th term10
factorial of 10 is 3628800

In [ ]:
#fibonacci series
a=int(input("enter the number of terms"))
if a==1:
  print("0")
elif a==2:
  print("0 1")
else:
  i=0
  num1=0
  num2=1
  print("0 1",end=" ")
  while i<(a-2):
    sum=num2+num1
    print(sum,end=" ")
    num1=num2
    num2=sum
    i=i+1

#fibonacci series
enter the number of terms10
0 1 1 2 3 5 8 13 21 34

In [ ]:
#find n odd numbers
n=int(input("enter the last number"))
print("the numbers are")
i=1
while i<=n:
  print(i)
  i=i+2

enter the last number23
the numbers are
1
3
5
7
9
11
13
15
17
19
21
23

In [ ]:
# check whether a number is a paliandrome
a=int(input("enter the number to be checked "))
q=a
b=0
while q>0:
  r=q%10
  q=int(q/10)
  b=b*10+r
if a==b:
  print(a,"is an paliandrome number")
else :
  print(a,"is not an paliandrome number")

enter the number to be checked 767
767 is an armstrong number

In [ ]:
# reverse of the given number
a=int(input("enter the number "))
q=a
b=0
while q>0:
  r=q%10
  q=int(q/10)
  b=b*10+r
print(b,"is the reverse of",a)

enter the number 234
432 is the reverse of 234

In [ ]:
#square of natural numbers between two numbers
a=int(input("enter the first number"))
b=int(input("enter the last number"))
while a<b:
  c=a*a
  a=a+1
  print(c)
if a==b:
  print("there is no number between ",a,"and", b)
else:
  print("there is no number between", a,"and ",b)

enter the first number2
enter the last number10
4
9
16
25
36
49
64
81
there is no number between  10 and 10

In [ ]:
#sum of factors of a number
a=int(input("enter the number"))
i=1
sum=0
while i<=a:
  if a%i==0:
    sum=sum+i
    i=i+1
  else:
    i=i+1
print("sum is ",sum)

enter the number24
sum is  60

In [ ]:
#sum of first n natural numbers
a=int(input("enter the n th term"))
i=0
sum=0
while i<a:
  i=i+1
  sum=sum+i
print("sum of ",a,"natural numbers are",sum)

enter the n th term10
sum of  10 natural numbers are 55

In [1]:
#Sum upto Series of 1-4+9-16...
a=int(input("enter the number of terms"))
i=1
sum=1
while i<a:
  i=i+1
  x=i*i
  if i%2==0:
    sum=sum-x
  else:
    sum=sum+x
print(sum)

enter the number of terms2
-3

In [ ]:
#x^n
b=int(input("enter the value of base"))
e=int(input("enter the value of exponent"))
i=0
x=1`
while i<e:
  x=x*b
  i=i+1
print(b,"^",e,"=",x)

enter the value of base2
enter the value of exponent10
2 ^ 10 = 1024

In [ ]:
#GCD of two numbers
a=int(input("enter the first number  "))
b=int(input("enter the second number "))
i=2
x=1
while i<b/2:
  if a%i==0 and b%i==0:
    a=a/i
    b=b/i
    x=x*i     
  else:
    i=i+1
print("GCD of the two numbers is",x)

enter the first number  60
enter the second number 36
GCD of the two numbers is 12

In [ ]:
#area and perimeter of triangle 
import math
a=int(input("enter the length of first side"))
b=int(input("enter the length of second side"))
c=int(input("enter the length of third side"))
s=(a+b+c)/2
area=math.sqrt(s*(s-a)*(s-b)*(s-c))
p=2*s
print(p,"is the perimeter of the triangle")
print(area,"is the area of the triangle")

enter the length of first side4
enter the length of second side5
enter the length of third side6
15.0 is the perimeter of the triangle
9.921567416492215 is the area of the triangle

In [ ]:
#area of circle
a=int(input("enter the length of radius"))
area=3.14*a*a
print(area,"is the area of the circle")

enter the length of radius1
3.14 is the area of the circle

In [ ]:
#average of 3 numbers
a=int(input("enter the first number"))
b=int(input("enter the second number"))
c=int(input("enter the third number"))
avg=(a+b+c)/3
print(avg,"is the average of the three numbers")

In [ ]:
#sum and average of 3 numbers
a=int(input("enter the first number"))
b=int(input("enter the second number"))
c=int(input("enter the third number"))
avg=(a+b+c)/3
sum=avg*3
print(avg,"is the average of the three numbers")
print(sum,"is the sum of the three numbers")

enter the first number5
enter the second number6
enter the third number7
6.0 is the average of the three numbers
18.0 is the sum of the three numbers

In [ ]:
#biggest among two numbers
a=int(input("enter the first number"))
b=int(input("enter the second number"))
if a>b:
  print(a,"is greater than",b)
elif a<b:
  print(b,"is greater than",a)
else:
  print("first and second numbers are equal")

enter the first number5
enter the second number5
first and second numbers are equal

In [ ]:
#check whether a number is positive, negative or zero
a=int(input("enter the first number"))
if a<0:
  print(a,"is a negative number")
elif a>0:
  print(a,"is a positive number")
else:
  print("the number is equal to zero ")

enter the first number0
the number is equal to zero